/* app css stylesheet */

.members {
  list-style: none;
}

.bills {
  list-style: none;
}

.thumb {
  float: left;
  margin: 0em 1em 0em 0em;
  height: 100px;
  width: 80px;
}

.portrait {
  float: left;
  margin: 0em 1em 1em 1em;
  height: 150px;
  width: 120px;
}

.members li {
  clear: both;
  height: 100px;
  margin-top: 0px;
}

h1 {
  border-bottom: 1px solid gray;
}

h2 {
  border-bottom: 1px solid gray;
}
