<h1> {{bill.id}} </h1>

<p class="lead"> {{bill.vtitle}} </p>

<dl>
	<dt>Ayes</dt>
	<dd>
		<ul class="list-inline">
  			<li ng-repeat="aye in bill.ayes">
  			<a href="#/members/{{aye | toMemberId}}">{{aye}}</a>
  			</li>
		</ul>
	</dd>
	<dt>Noes</dt>
	<dd>
		<ul class="list-inline">
	  		<li ng-repeat="no in bill.noes">
	  		<a href="#/members/{{no}}">{{no}}</a>
	  		</li>
		</ul>
	</dd>
	<dt>No Vote Recorded</dt>
	<dd>
		<ul class="list-inline">
	  		<li ng-repeat="nvr in bill.nvrs">
	  		<a href="#/members/{{nvr}}">{{nvr}}</a>
	  		</li>
		</ul>
	</dd>
</dl>
