<img ng-src="{{member.image}}" class="portrait">

<h1>{{member.fullname}}</h1>

<p>{{member.party}} representing the {{member.districtOrdinal}} {{member.house}} district</p>
<p>{{member.cities.split('\n').join(', ')}}</p>

<div class="span10">
  <table class="table table-bordered">
  	<thead>
	  <tr>
	    <td>Bill ID</td>
	  	<td>Vote</td>
	  	<td>Target</td>
	  	<td>Weight</td>
	  	<td>Bill Description</td>
	  </tr>
  	</thead>
	<tbody>
	  <tr ng-repeat="vote in member.voterecord" class="{{vote.vote == vote.target ? 'success' : 'danger'}}">
	    <td>{{vote.title}}</td>
	    <td>{{vote.vote == 'Y' | checkmark}}</td>
	    <td>{{vote.target == 'Y' | checkmark}}</td>
	    <td>{{vote.weight}}</td>
	    <td>{{vote.description}}</td>
	  </tr>
	</tbody>
  </table>
</div>
