<img ng-src="{{member.image}}" class="portrait">

<h1>{{member.fullname}}</h1>

<p class="lead">{{member.party}} representing the {{member.districtOrdinal}} {{member.house}} district</p>
<p class="lead">{{member.cities.split('\n').join(', ')}}</p>

<div class="span10">
  <table class="table table-bordered table-hover">
  	<thead>
	  <tr>
	    <td class="text-center">Bill ID</td>
	  	<td class="text-center">Vote</td>
	  	<td class="text-center">Target</td>
	  	<td class="text-center">Weight</td>
	  	<td class="text-center">Bill Description</td>
	  </tr>
  	</thead>
	<tbody>
	  <tr ng-repeat="vote in member.voterecord" 
	  	  class="{{vote.vote == vote.target ? 'success' : 'danger'}}" 
	  	  ng-click="switchToBillDetail(vote.title)">
	    <td class="text-center">{{vote.title}}</td>
	    <td class="text-center">{{vote.vote == 'Y' | checkmark}}</td>
	    <td class="text-center">{{vote.target == 'Y' | checkmark}}</td>
	    <td class="text-center">{{vote.weight}}</td>
	    <td class="text-left">{{vote.description}}</td>
	  </tr>
	</tbody>
  </table>
</div>
